<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body style="display:flex;height:100%;background-color: #4158D0;background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);">
<div style="padding:24px;margin:auto;color:white;border:2px solid white;border-radius:8px;">
    <h1> Hello World! </h1>
    <hr>
    This is server-side rendering:
    <span th:text="${someData}"></span>
</div>
</body>
</html>